<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados da busca </title>
</head>
<body>

    <table id="topo">
        <div id="logo">
            <img src="/assets/imagens/logoDesafio.png" alt="">
        </div>
        <div id="pesq">
            <input id="consulta" type="text" name="name" [(ngModel)] = "name" (keydown.enter)="pesquisarFilme()" tabindex="0">
            <button id="botao" (click) = "pesquisarFilme()" tabindex="0">Pesquisar</button>
        </div>

    </table>
    
       
    <app-primeiro-filme *ngIf = 'result == null'></app-primeiro-filme>
    

    <h1 *ngIf = 'result != null' tabindex="0">
        Resultados da busca por: <p tabindex="0">{{name}}</p>
    </h1>
    
    <table id='achados'  >
       
        <section id = 'search' *ngFor = 'let resultados of result?.results' (click) = 'irParaDetalhe(resultados?.id)' 
        tabindex="0" (keydown.enter)= 'irParaDetalhe(resultados?.id)' >

            <div >
                
                <img [src]=retornaSrc(resultados.poster_path)  alt="">
            </div>
            <div id="title">
                <label><strong>{{resultados.original_title}}</strong></label>
                
            </div>
            <div>
                <label >{{resultados.release_date}}</label>
            </div>
            
        
        </section>
    


    </table>
    
</body>
</html>