
#logo{
    
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
}

#pesq{
    position: absolute;
    top: 50px;
    right: 50px;

}

body{
    
    background: black;
    font: normal 15px Arial;
    color: white;

}

h1{
   
    padding-left: 30px;
}

#achados{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column:1/5;

    grid-row: 1/4;
}


#search{
    background-color: rgb(4, 107, 110);
    border-radius: 10px;
    padding: 15px;
    width: 240px;
    left: 320;
    
    cursor: pointer;
    
    /*border: 2px solid yellow;*/
    
    box-shadow: 5px 5px 10px rgba(59, 41, 41, 0.295);
    margin: auto;
    
}


div{
    padding: 3px;
    
    text-align: center;
}

div#title{
    
    font: normal 20px Arial;
    
}