<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Próximos Lançamenos</title>
</head>
<body >
    <h1>Próximos Lançamentos</h1>

    <table id="orgProxLancamentos">
        <section   id= 'ProxLancamentos' *ngFor = 'let resultados of proxLancamentos?.results'>

            <div >
                
                <img [src]=retornaSrc(resultados.poster_path)  alt="">
            </div>
            <div id="title">
                <label>{{resultados.original_title}}</label>
                
            </div>
            <div>
                <label>{{resultados.release_date}}</label>
            </div>
            
        
        </section>
    </table>
      
</body>
</html>