body{
    font: normal 18px Arial;
    color: white;
    padding-top: 100px;
    
    display: grid;
    grid-row: 1fr 1fr;
    grid-column: 1/3;
    
}

#detalheEaluguel{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-row: 1/3;
}

#voltar{
    cursor: pointer;
    position: absolute;
    right: 89.5%;
    top: 22%;
    padding: 4px;
    font-style: normal;
    color: black;
}

#detalhe{
    
    background-color: rgb(4, 107, 110);
    border-radius: 10px;
    padding: 15px;
    width: 600px;   /* 600px */
    
    box-shadow: 5px 5px 10px rgba(59, 41, 41, 0.295);
    margin: auto;
    
}

#aluguel{
    
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: rgb(4, 107, 110);
   
    border-radius: 10px;
    width: 300px;
    
    margin: auto;

    display: grid;
    
   

}

#consultas{
    
    margin-top: 60px;
    margin-left: 12%;
   
    width: 1000px;
    border-radius: 10px;
    background-color: rgb(4, 107, 110);
}

#orgconsultas{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

input{
    width: 200px;

}
#confAluguel{
    padding: auto;
    
}

div{
    padding: 7px;
    
    text-align: center;
}


