<app-acessibilidade></app-acessibilidade>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especificação</title>
</head>
<body>

    
    <section id="detalhe" *ngIf = 'filme != null' >

        <div >
            <button id='voltar' (click) = "voltarHome()" tabindex="0" 
            (keydown.enter) = "voltarHome()"> <strong > X </strong></button>
            
        </div>

        <div>
            <img id = 'backdrop' [src]="retornaSrc(filme?.backdrop_path)" alt="">
        </div>
         
        <div>
            <label tabindex="0"><strong>{{filme?.original_title}}</strong></label>
        </div>
        <div>
            <label tabindex="0" id="genero"> {{filme?.genres[0]?.name}}</label>
        </div>
        <div>
            <label tabindex="0">{{filme?.overview}}</label>
        </div>
    
    </section>
    
</body>
</html>

