html{
    top: 0;
}

#icon{
    position: absolute;
    right: 490px;
    
    top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

div{
    margin: auto;
    
    
}
img{
    cursor: pointer;
}