



#icon{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    
    top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

div{
    margin: auto;
    
    
}
img{
    cursor: pointer;
}