<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="icon">
    <div >
        <img name='auto-contraste' src="/assets/imagens/contraste.png" alt="" (click) = 'autoContraste()' 
        tabindex='0' (keydown.enter) = 'autoContraste()'>
    </div>
    <div>
        <img src="/assets/imagens/A+.png" alt="" (click) = "aumentoDeFonte()" 
        tabindex='0' (keydown.enter) = 'aumentoDeFonte()'>
    </div>
    <div>
        <img src="/assets/imagens/A.png" alt="" (click) = "restaurarFonte()" 
        tabindex='0' (keydown.enter) = 'restaurarFonte()'>
    </div>
    <div>
        <img src="/assets/imagens/A-.png" alt="" (click) = "diminuicaoDeFonte()" 
        tabindex='0' (keydown.enter) = 'diminuicaoDeFonte()'>
    </div>
</body>
</html>