<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body id="icon">
    <div>
        <img src="/assets/imagens/contraste.png" alt="">
    </div>
    <div>
        <img src="/assets/imagens/A+.png" alt="">
    </div>
    <div>
        <img src="/assets/imagens/A.png" alt="">
    </div>
    <div>
        <img src="/assets/imagens/A+.png" alt="">
    </div>
</body>
</html>