<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<app-pesquisa-filme></app-pesquisa-filme>

<app-mais-populares></app-mais-populares>

<app-proximos-lancamentos></app-proximos-lancamentos>

<app-lancamentos></app-lancamentos>



<app-melhores-avaliacoes></app-melhores-avaliacoes>


<!--<app-primeiro-filme></app-primeiro-filme>-->

<!--<app-detalhe-filme></app-detalhe-filme>-->


