<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar filme</title>
</head>
<body>

    <div>
        <input type="number" name="id" [(ngModel)] = "id">
        <button (click) = "consultarFilme()">Consultar</button>
    </div>
    
    <section>
        <div >
            <img id="poster"  src=""  alt="" >
        </div>
        <div>
            <label>{{filme.original_title}}</label>
            
        </div>
        <div>
            <label>{{filme.release_date}}</label>
            
        </div>

    </section>
</body>
</html>
