<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lançamentos</title>
</head>
<body >
    <h1>Lançamentos</h1>

    <table id="orgLancamentos">
        <section   id= 'lancamentos' *ngFor = 'let resultados of lancamentos?.results' (click) = "irParaDetalhe(resultados?.id)">

            <div >
                
                <img [src]=retornaSrc(resultados.poster_path)  alt="">
            </div>
            <div id="title">
                <label><strong>{{resultados.original_title}}</strong></label>
                
            </div>
            <div>
                <label>{{resultados.release_date}}</label>
            </div>
            
        
        </section>


    </table>
    
    
</body>
</html>