

body{
    
    background: black;
    font: normal 18px Arial;
    color: white;
    
}

h1{
    font-size: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
}

#orgPopular{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    
    grid-column:1/5;

    grid-row: 1/4;

}

#populares{
    background-color: rgb(4, 107, 110);
    border-radius: 10px;
    padding: 15px;
    width: 240px;
    
    cursor: pointer;
    
    /*border: 2px solid yellow;*/
    
    box-shadow: 5px 5px 10px rgba(59, 41, 41, 0.295);
    margin: auto;
    
}

div{
    padding: 3px;
    
    text-align: center;
}

